<div class="container">
  <mat-card class="card" appearance="outlined">
      <img class="carImage" mat-card-image src={{car.image}} alt="Photo of {{car.model}}">
      @if (car.like) {
        <button mat-icon-button appearance="outlined" class="likeButton">
          <mat-icon fontIcon="favorite"></mat-icon> 
        </button>
      }
      @else {
        <button mat-icon-button appearance="outlined" class="likeButton">
          <mat-icon fontIcon="favorite_outlined"></mat-icon> 
        </button>
      }
    <mat-card-content>
      <mat-card-header class="cardHeader">{{car.model}}</mat-card-header>
        @if(car.description!.length > 185) {
         <p class="carDescription">{{car.description?.substring(0,185)}}...</p> 
        }
        @else {
        <p class="carDescription">{{car.description}}</p> 
        }
        <!-- <p class="carDescription">{{car.description}}</p>  -->
    </mat-card-content>
    <div class="cardFooter">
      <mat-card-actions class="detailButton">
        <button mat-fab extended class="detailButton" >
          <mat-icon>menu</mat-icon> 
            Ver detalles
        </button>
      </mat-card-actions>
    </div>
  </mat-card>
</div>