.toolbar-container {
  height: calc(100vh * 0.08);
  width: 100%;
  display: flex;
  background-color: #810081;
}
.active-link {
  text-transform: uppercase;
  color: #4c0196 !important;
  transition: all 0.5s;
  transform: scale(1.02) translate(0px, -1px);
}
.flex-config {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
}

.logo {
  width: 30%;
}

.navbar-options {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0px;
}

.actions {
  width: 20%;
}

.spacer {
  flex: 1 1 auto;
}
