<mat-toolbar color="primary" class="toolbar-container mat-primary">
  <div class="logo flex-config">
    <img class="mx-2" height="70" width="70" src="assets/images/logo.png" alt="Logo">
    <h1 class="text-capitalize cursive-title ">deluxe car </h1>
  </div>
  <div class="navbar-options">
    @for (item of menuItems; track $index) {
    @if (item.path=='autos') {
    <a class="fs-5" mat-button [routerLink]="item.path" routerLinkActive="active-link">{{item.title}}</a>
    }@else {
    <a class="fs-5" mat-button [routerLink]="item.path" routerLinkActive="active-link"
      [routerLinkActiveOptions]="{ exact: true }">{{item.title}}</a>
    }
    }
  </div>
  <div class="actions flex-config">
    <button class="py-0 my-0" mat-fab extended [matMenuTriggerFor]="menu">
      <mat-icon>person</mat-icon>
      Perfil
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item routerLink="/profile">Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>
  </div>

</mat-toolbar>