.header {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0))
}

.container {
    position: absolute;
    top: 432px;
    display: flex;
    align-content: center;
    left: 200px;
    right: 200px;
}

.profileImage {
    width: 300px;
    height: 300px;
    border-image: 310px white;
    display: block;
    margin: 0px;
}

.button {
    padding: 32px 0 0 0;
}

.editButton {
    justify-content: center;
    width: 300px;
    padding-top: auto;
    border-radius: 0 0 5px 5px;
    // position: absolute;
    // bottom: 0px;
}

.infoSpan {
    padding: 32px 0 0 32px;
}

.mat-mdc-card-header {
    display: flex;
    padding: 16px 16px 0;
    flex-direction: column;
}

.mat-headline-large {

}

.card {
    color: white;
    background-color: #110802;
    border-radius: 0;
    padding: 16px;
    border-radius: 8px;
}

.photoCard {
    background-color: white;
    border-radius: 0;
}

.backButton {
    position: absolute;
    top: 16px;
    left: 16px;
    color: white;
    z-index: 1000px;
    margin-top: 100px;
}

