<span>
  <div class="image-container">
    <img class="header" src={{car.headerImage}} alt="">
    <span>
    </span>
  </div>
  <button mat-icon-button [routerLink]="['/autos/lista']" appearance="outlined" class="backButton">
    <mat-icon fontIcon="arrow_back"></mat-icon>
    <!-- <a mat-button [routerLink]="['/autos/lista']"></a> -->
  </button>
</span>


<div class="container">
  <span>

    <mat-card class="photoCard" appearance="outlined">
      <img class="profileImage mb-3" src={{car.profileImage}} alt="">
      <button (click)="navigateTo('/autos/' + carId + '/edit')" mat-fab extended class="w-100 editButton my-1">
        <mat-icon>edit</mat-icon>
        Editar
      </button>
      <button [routerLink]="['/autos/lista']" (click)=deleteCar(car.id!) mat-fab extended class="w-100 deleteButton">
        <mat-icon>clear</mat-icon>
        Eliminar
      </button>
    </mat-card>


  </span>
  <span class="infoSpan">
    <div class="title">
      <h1>{{car.model}}</h1>
    </div>
    <div>
      <mat-card class="card" appearance="outlined">
        <h6>Marca:</h6>
        <p>{{car.brand|uppercase}}</p>
        <h6>Caballos de fuerza:</h6>
        <p>{{car.hp}}HP</p>
        <h6>Descripcion:</h6>
        <p>{{car.description}}</p>
      </mat-card>
    </div>
  </span>



</div>