<h1>
  A continuacion le presentamos una lista de recursos.
</h1>
<h2></h2>
  <div class="container">
    @for (recurso of recursos; track $index) {
      <div class="cardRecurso">
          <div class="imagen" >
            <img width="320px" height="450px" src="{{recurso.url}}" alt="">
          </div>
          <div class="contenidoText">
            <div style="padding: 0.5cm;"><h3>{{recurso.name}}</h3></div>

            <div class="descriptionText">

              <p>{{recurso.description}}</p>
              <!-- <h4>{{recurso.description}}</h4> -->

            </div>

            <button mat-fab color="primary" style="margin-left: 0.5cm; width: auto; padding: 1cm;">Más información</button>


          </div>
      </div>
    }
  </div>


