.card-evento {
  width: 300px !important;
  height: calc(100vh * 0.63);
}
.card-evento-list {
  display: flex;
  flex-wrap: wrap;
}

.card-image-evento {
  object-fit: cover;
  width: 100%;
  height: calc(100vh * 0.25);
}

.card-description {
  overflow: hidden;
  text-overflow: ellipsis !important;
  height: 100px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.card-button-evento {
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.2s;
}
.card-button-evento:hover {
  color: #810081;
  border-bottom: 1px solid #810081;
}

.card-title-evento {
  font-weight: bold;
  font-size: 20px;
}

.title-evento {
  font-weight: bold;
}
