<div class="container   pt-5">
  <div class="row  ">
    <div class="col-12 d-flex justify-content-center justify-content-md-start px-0 px-md-5">
      <h3 class="title-evento">Eventos</h3>
    </div>
    <div class="col-12 ">
      <div class="card-evento-list  gap-5  w-100 justify-content-center justify-content-md-around">
        @for (evento of eventos; track $index) {
        <div class="card-evento ">
          <img class="card-image-evento" src={{evento.image}}>
          <div class=" py-2">
            <h6 class="card-title-evento">{{evento.title}}</h6>
            <small class="d-block mb-3">{{evento.fecha}}</small>
            <div class="card-description">
              <p>{{evento.descripcion}}</p>
            </div>
            <!-- Spacer? -->
            <a target="_blank" [href]="evento.urlNoticia" class="mt-4 card-button-evento">Obtener mas información</a>
          </div>
        </div>

        }

      </div>
    </div>
  </div>
</div>