@use "@angular/material" as mat;

@include mat.core();
body {
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  margin: 0 !important;
}
/* Aplicar la fuente a los componentes de Angular Material */
.mat-typography,
.mat-button,
.mat-card,
.mat-input,
.mat-form-field,
.mat-toolbar,
* {
  font-family: "Prompt", cursive !important;
  // font-optical-sizing: auto !important;
}
/* Excluir mat-icon de la fuente global */
.mat-icon {
  font-family: "Material Icons" !important;
}

.cursive-title {
  font-family: "Kaushan Script", cursive !important;
  font-optical-sizing: auto !important;
  font-style: normal !important;
  font-size: 30px !important;
}
